@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --blue-500: #007bff;
    --yellow-500: #ffc107;
    --green-500: #28a745;
    --blue-400: #0056b3;
    --yellow-400: #ffca2c;
    --green-400: #218838;
}


html {
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
    font-weight: 500;
     font-style: normal;
 }